{% extends "DjangoChat/base.html" %}
{% load static %}
{% block head %}<link rel="stylesheet" href="{% static "css/styles.css" %}" />{% endblock %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <div class="all">
    <div class="about">
        <h1>About me</h1>
        <img>
        <h1>Hello, I'm Tedd</h1>
        <h2>    I'm 19 years old, and I'm the creator of that.<br>  I am very happy that you are here and I hope that it will be interesting for you.</h2>
        <h3>Enjoy!</h3>
    </div>
        <div class="inside">
        <h1>My Blog</h1>
    {% for post in posts %}
        <div class="post">
            <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h2>
            <p>
                <h1>Published {{ post.publish }} by {{ post.author }}</h1>
            </p>
            <div class="message">
                <h2>{{ post.body|truncatewords:30|linebreaks }}</h2>
            </div>
        </div>

    {% endfor %}
    {% include "DjangoChat/paginator.html" with page=posts %}
    </div>
    <div class="news">
        <div class="about">
                <h1>NewsLetter</h1>
                <h1>{{ news.title }}</h1>
                <h2>Created {{ news.created }}</h2>
                <p class="letter">{{ news.body }}</p>
            </div>
    </div>


    </div>

    
{% endblock %}