{% extends "DjangoChat/account_base.html" %}
{% block title %}Share a post{% endblock %}
{% block name %}Share "{{ post.title }}" by e-mail{% endblock %}
{% block content %}
    {% if sent %}
        E-mail successfully sent
        <p>
            "{{ post.title }}" was successfully sent to {{ cd.to }}.
        </p>
        <a href="/">Home</a>
    {% else %}
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send e-mail" class="submit">
        </form>
    {% endif %}
{% endblock %}